<?xml version="1.0"?>
<config>
    <modules>
        <Openlabs_OpenERPConnector>
            <version>0.0.1</version>
        </Openlabs_OpenERPConnector>
    </modules>
    <frontend>
        <routers>
            <openerpconnector>
                <use>standard</use>
                <args>
                    <module>Openlabs_OpenERPConnector</module>
                    <frontName>openerpconnector</frontName>
                </args>
            </openerpconnector>
        </routers>
    </frontend>
    <global>
        <models>
            <openerpconnector>
                <class>Openlabs_OpenERPConnector_Model</class>
            </openerpconnector>
            <sales>
                <rewrite>
                    <order_api>Openlabs_OpenERPConnector_Model_Sales_Order_Api</order_api>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_api>Openlabs_OpenERPConnector_Model_Catalog_Product_Api</product_api>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <openerpconnector_setup>
                <setup>
                    <module>Openlabs_OpenERPConnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </openerpconnector_setup>
            <openerpconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </openerpconnector_write>
            <openerpconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </openerpconnector_read>
        </resources>
        <blocks>
            <openerpconnector>
                <class>Openlabs_OpenERPConnector_Block</class>
            </openerpconnector>
        </blocks>
        <helpers>
            <openerpconnector>
                <class>Openlabs_OpenERPConnector_Helper</class>
            </openerpconnector>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <init_imported_after_place_order>
                        <type>singleton</type>
                        <class>openerpconnector/observer</class>
                        <method>initImported</method>
                    </init_imported_after_place_order>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <openerpconnector>
                <use>admin</use>
                <args>
                    <module>Openlabs_OpenERPConnector</module>
                    <frontName>connector</frontName>
                </args>
            </openerpconnector>
        </routers>
    </admin>
</config>